$my-grey : #929292;
$grey-gradient : linear-gradient(149.08deg, rgba(173, 173, 173, 0.5) 6%, rgba(32, 30, 35, 0.1) 36%, rgba(178, 178, 178, 0.1) 70%, rgba(176, 176, 176, 0.5) 100%);
$back-color : #161419;
$soft-pink : #D38FD1;