@use "styles/variables" as *;

.anyTitleTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.anyTitle {
  color: $my-grey;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.72px;
}

.anyText {
  font-size: 24px;
  font-weight: 500;
  line-height: 30.38px;
}